<section id="home-view" class="mainbar">
    <section class="matter">
        <div class="container">
            <div gridster="gridsterOptions">
                <ul>
                    <li gridster-item="tile" ng-repeat="tile in tiles">
                        <div class="box" ng-controller="CustomTileCtrl">
                            <div class="box-header resizeHandle">
                                <div class="box-header-btns pull-right">
                                    <a title="Settings" ng-click="openSettings(tile)"><i class="glyphicon glyphicon-cog"></i></a>
                                    <a title="Remove" ng-click="remove(tile)"><i class="glyphicon glyphicon-remove"></i></a>
                                </div>
                            </div>

                            <a href="{{ tile.url }}">
                                <div class="box-content">
                                    <span class="tile-title">
                                        {{ tile.name }}
                                    </span>
                                </div>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </section>
</section>
