<nav class="navbar navbar-fixed-top navbar-inverse">

    <div id="ribbon"></div>
    <div class="navbar-header">
        <a href="/" class="navbar-brand"></a>
        <a class="btn navbar-btn navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"></a>
    </div>
    <div class="navbar-collapse collapse">
        <div class="pull-left navbar-logo">
            <nav class="en">
                <ul id="menu">
                    <li class="menu-header">
                        <a class="menu-link" href=".#/funds">Funds</a>
                    </li>
                    <li class="menu-header">
                        <a class="menu-link" href=".#/positions">Positions</a>
                    </li>
                    <li class="menu-header">
                        <a class="menu-link" href=".#/reports">Reports</a>
                    </li>
                    <li class="menu-header">
                        <a class="menu-link" href=".#/settings">Settings</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</nav>